# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Secret environment variables
.env

# Generated output files
output/

# IDE and OS-specific files
.idea/
.vscode/
*.DS_Store
